body {
  padding: 0;
  margin: 0 auto;
  background-color: rgb(29, 27, 27);
}
#nav--container {
  background-color: #303055;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100vw;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
#searchbox--container {
  display: flex;
  padding: 8px;
  border-radius: 3px;
}
#searchbox {
  border-radius: 3px;
  width: 75vw;
}
#character--container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 5px;
  max-width: 1000px;
}

@media screen and (min-width: 720px) {
  #searchbox {
    width: 700px;
  }
}